@model IEnumerable<backEndCsharp.Models.MessaggiChat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDestinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDestinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Testo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
