@model backEndCsharp.Models.Treno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Treno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direzione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direzione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumChatting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumChatting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrozza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrozza)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
