@model IEnumerable<backEndCsharp.Models.Treno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direzione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumChatting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrozza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Linea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direzione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumChatting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrozza)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
